@page "/userPage"


@using System.Text.Json
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using PR3_Blazor.Components.Models

<h3>Liste des utilisateurs</h3>

@if (userList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Login</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utilisateur in userList)
            {
                <tr>
                    <td width="20">@utilisateur.Id</td>
                    <td width="20">@utilisateur.Nom</td>
                    <td width="20">@utilisateur.Prenom</td>
                    <td width="20">@utilisateur.Login</td>
                    <td>@utilisateur.MotDePasse</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Utilisateur>? userList;


    protected override async Task OnInitializedAsync()
    {
        var apiUrl = "http://localhost:5252/api/Utilisateurs";

        HttpClient client = new HttpClient();
        try
        {
            HttpResponseMessage response = await client.GetAsync(apiUrl);
            if (response.IsSuccessStatusCode)
            {
                string data = await response.Content.ReadAsStringAsync();

                userList = JsonConvert.DeserializeObject<List<Utilisateur>>(data);


            }

        }
        catch (HttpRequestException)
        {
            // Handle exceptions or return an error view
        }


    }
}
